PM_API_URL = "https://x.x.x.x:8006/api2/json"

PM_USER = ""

PM_PASSWORD = ""

PM_API_TOKEN_ID = ""

PM_API_TOKEN_SECRET = ""

PM_TLS_INSECURE = "true"

proxmox_host = "pve01"

template_name = ""

ciuser= ""

cipassword= ""

ssh_key = ""

